<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="brand">Hi-Ruby中文站</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li>
                <a href="/">首页</a>
              </li>
              <li>
                <a href="/categories/ruby" title="Ruby">Ruby</a>
              </li>
              <li>
                <a href="/categories/golang" title="Golang">Golang</a>
              </li>
              <li>
                <a href="/categories/os" title="操作系统">操作系统</a>
              </li>
              <li>
                <a href="/categories/db" title="数据库">数据库</a>
              </li>
              <li>
                <a href="/categories/front-end" title="前端开发">前端开发</a>
              </li>
              <li class="divider-vertical"></li>
              <li>
                <a href="/categories/" title="分类存档">分类存档</a>
              </li>
              <li>
                <a href="/about" title="About Me">About Me</a>
              </li>
            </ul>
            
           <!--  <form action="/" class="navbar-search pull-right visible-desktop">
                <input type="text" placeholder="Search" class="search-query span2" name="q"/>
            </form> -->
            
          </div>
        </div>
      </div>
    </div>