<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="brand">Hi-Ruby中文站</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li>
                <a href="/">首页</a>
              </li>
              <li>
                <a href="/categories/ruby">Ruby</a>
              </li>
              <li>
                <a href="/categories/golang">Golang</a>
              </li>
              <li>
                <a href="/categories/os">操作系统</a>
              </li>
              <li>
                <a href="/categories/db">数据库</a>
              </li>
              <li>
                <a href="/categories/front-end">前端开发</a>
              </li>
              <li class="divider-vertical"></li>
              <li>
                <a href="/categories/">分类存档</a>
              </li>
              <li>
                <a href="/about">About Me</a>
              </li>
            </ul>
            
            <form action="/" class="navbar-search pull-right visible-desktop">
                <input type="text" placeholder="Search" class="search-query span2" name="q"/>
            </form>
            
          </div>
        </div>
      </div>
    </div>