<div class="span4 sidebar">
  <div class="alert fade in">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>灰常不幸!</strong> 原idc跑路,数据丢失,内容暂时很空,请谅解
  </div>  
  <div class="sidebar-item">
    <div class="first ucard" itemscope="" itemtype="http://schema.org/Person">
<div class="avatared">
  <a target="_blank" href="https://secure.gravatar.com/avatar/2c680a7079d5382b396bfacd867ac6ae?s=200" itemprop="image" class="left"><img width="100" height="100" alt="BlueBu" src="/images/logos/bluebu_100.jpg"></a>
  <div class="right">
  <h2>
      <span class="name" itemprop="name">Charles Wang</span>
      <em itemprop="additionalName">BlueBu</em>
  </h2>
  <div>
        <a class="icons plus" target="_blank" href="https://plus.google.com/114279517284870862252?rel=author">BlueBu</a>
        <a class="icons weibo" target="_blank" href="http://weibo.com/327866641">BlueBu</a>
        <a class="icons tqq" target="_blank" href="http://t.qq.com/bluebu">BlueBu</a>
        <a class="icons tianji" target="_blank" href="http://www.tianji.com/profile/19814033">BlueBu</a>
  </div>
  </div>
      
  <div class="clear"></div>
  <div class="details">
    <dl title="目前工作"><dt><span class="mini-icon mini-icon-team"></span></dt><dd itemprop="worksFor">Ruby Engineer</dd></dl>
    <dl title="所在城市"><dt><i class="icon-flag"></i></dt><dd itemtype="http://data-vocabulary.org/Address" itemscope="" itemprop="address"><span itemprop="region">Beijing</span>, <span itemprop="country">China</span></dd></dl>
    <dl title="家乡"><dt><i class="icon-home"></i></dt><dd itemprop="homeLocation">Benxi, Liaoning, China</dd></dl>
    <dl><dt><i class="icon-envelope"></i></dt><dd><a class="email" href="mailto:bluebuwang@gmail.com">bluebuwang@gmail.com</a></dd></dl>
    <dl><dt><span class="mini-icon mini-icon-link"></span></dt><dd itemprop="url"><a href="http://www.hi-ruby.com" class="url" rel="nofollow me">http://www.hi-ruby.com</a></dd></dl>
    <dl><dt><span class="mini-icon mini-icon-time"></span></dt><dd><span class="join-label">Working for <span itemprop="affiliation"><a rel="nofollow" href="http://www.tianji.com" class="url">Tianji</a> a Viadeo Company</span></span><span class="none" itemprop="jobTitle">Engineers Manager</span></dd></dl>
  </div>
</div>

</div>
  </div> 
  <div class="sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">
        微信官方公共帐号
      </li>
      <li><a title="微信官方公共帐号" target="_blank" href="http://weixin.qq.com/r/9nVzfHXEZEsbh2QfnyDS"><img alt="微信官方公共帐号" src="/images/qrcode.jpg"></a></li>
      <li class="nav-header">
        友情链接
      </li>
      <li><a rel="friend" target="_blank" title="hupengxing's blog" href="http://www.hupengxing.com">hupengxing's blog</a></li>
      <li><a rel="friend" target="_blank" title="shareup.me" href="http://shareup.me">shareup.me</a></li>
      <li><a rel="friend" target="_blank" title="51png.com" href="http://www.51png.com">51png.com</a></li>
      <li><a rel="friend" target="_blank" title="lovelazy.com" href="http://www.lovelazy.com">lovelazy.com</a></li>
    </ul>
  </div>
  <div class="sidebar-item">
    <script type="text/javascript">
/*250*250，创建于2011-5-10*/
var cpro_id = "u472123";
</script>
<script type="text/javascript" src="http://cpro.baidustatic.com/cpro/ui/c.js"></script>

  </div>
  <div class="sidebar-item">
    <a target="_blank" href="http://s.click.taobao.com/t?e=m%3D2%26s%3DSra2sjxzSKYcQipKwQzePCperVdZeJviEViQ0P1Vf2kguMN8XjClAtoPlAr4GWfJPYSlF0lm7fLpJNJi4u8qXBznVzH5ujBzn3lj4gnxPPgm%2B3UHr4a5GOdn1BbglxZYxUhy8exlzcq9AmARIwX9K%2BnbtOD3UdznPV1H2z0iQv9NkKVMHClW0QbMqOpFMIvnYPj4MlCsvqs%3D">
  <img src="/images/ad/aliyun.gif" alt="aliyun">
</a>


  </div>
  <div class="sidebar-item">
    <a target="_blank" href="http://www.linode.com/?r=5ebb1b69b47dbb0a9f379a0a5e4355d76566033e">
      <img alt="linode" src="/images/linode.png">
    </a>
  </div>   
  
  
  
</div>