<div class="span4 sidebar">
  <div class="alert fade in">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>灰常不幸!</strong> 原idc跑路,数据丢失,内容暂时很空,请谅解
  </div>  
  <div class="sidebar-item">
    {% include user_card.html %}
  </div> 
  <div class="sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">
        微信官方公共帐号
      </li>
      <li><a title="微信官方公共帐号" target="_blank" href="http://weixin.qq.com/r/9nVzfHXEZEsbh2QfnyDS"><img alt="微信官方公共帐号" src="/images/qrcode.jpg"></a></li>
      <li class="nav-header">
        友情链接
      </li>
      <li><a rel="friend" target="_blank" title="辛帅峰的blog" href="http://blog.xinshuaifeng.com">辛帅峰的blog</a></li>
      <li><a rel="friend" target="_blank" title="51png.com" href="http://www.51png.com">51png.com</a></li>
      <li><a rel="friend" target="_blank" title="lovelazy.com" href="http://www.lovelazy.com">lovelazy.com</a></li>
    </ul>
  </div>
    
  
  
  
</div>